/* 
    Document   : intro
    Created on : 28.05.2013, 11:57:33
    Author     : stokaboka
    Description:
        Purpose of the stylesheet follows.
*/


 div#rotator {
    position:relative; 
    height: 100%;        
 }

 div#rotator ul li {
	position:absolute;
	list-style: none;
}

div#rotator ul {        
    display: block;
}

img#rotator ul li.show{
    /*width:100%;
    height:100%;        
    */
}
/*
div#rotator {position:relative; height:231px; margin-left: 0px;}
div#rotator ul li {
	float:left;
	position:absolute;
	list-style: none;
        top: 20%;
}

*/

/*
div#rotator ul li.show {z-index:500;}
*/