<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <!--
        <meta name="game-engine-origin" content="http://www.isogenicengine.com">
        -->
	<meta http-equiv="X-UA-Compatible" content="IE=9" >
	<title>М.видео: обучающая игра «Технология продаж»</title>
        <meta name="description" content="">

        
        <!--<link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css">-->
        <link href="css/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
        
        <link href="css/ui-lightness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" type="text/css">

        
        <link href="css/angular-ui/angular-ui.css" rel="stylesheet" type="text/css">
        
	<!-- MY STYLES -->
        <link href="css/app.css" rel="stylesheet" type="text/css"/>
	<link href="css/default.css" rel="stylesheet" type="text/css"/>
        <link href="css/main.css" rel="stylesheet" type="text/css">
        
        <link href="css/intro.css" rel="stylesheet" type="text/css">
        
        <style>
            body {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left: 0px;
                padding-right: 0px;
                                
                min-width: 1024px;
                
                font-family: MVideoRegular;
            }     
            
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        </style>        
        
        <!-- courselab -->
        <!-- 
        <script type="text/javascript" src="js/libs/courselab/courselab.js"></script>
        <script type="text/javascript" src="js/libs/courselab/lms.js"></script>
        <script type="text/javascript" src="js/libs/courselab/courseimages/legacy.js"></script>
        <script type="text/javascript" src="js/libs/courselab/module.js"></script>
        -->
        
        <script src="js/libs/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        
	<!-- Isogenic Loader -->
	<script type="text/javascript">var igeRoot = 'engine/';</script>
	<script type="text/javascript" src="engine/loader.js"></script>
</head>
<body id="gameSupport"  ng-controller="GameSupportCtrl" class="ng-scope"  >
<!--  TOP STATUS BAR -->    
<div class="navbar-footer game-bar-geometry" style="z-index: 1100; top: 0px;" ></div>          
           <div class="top-tray-nav-bar game-bar-geometry ng-cloak" style="z-index: 1101;" ng-cloak>

    <div class="navbar-inner game-bar-geometry" style="padding-left: 0px; padding-right: 0px;">
                            <table style="margin-top: 2px; width: 100%;">
                        <tbody>
                            <tr>
                    <td id="sales_counter" width="12%" style="padding-left: 0px;" ><div id="sales_counter_highlight" data-toggle="tooltip" title="Количество продаж" style="min-width: 120px; max-width: 150px; position: relative; overflow: hidden; padding: 3px; -webkit-border-radius: 6px;    -moz-border-radius: 6px;    border-radius: 6px;"><img src="assets/money_icon.png" class="score" style="margin-right: 5px;"><span id="salesCounterID" class="score score-num" style="position: relative; top: 0px;"></span><span class="score score-text"> {{salesText}}</span></div></td>
                    <td id="bonus_counter" width="12%" style="padding-left: 0px;"><div id="bonus_counter_highlight" data-toggle="tooltip" title="Количество набранных баллов" style="min-width: 120px; max-width: 150px; position: relative; overflow: hidden; padding: 3px; -webkit-border-radius: 6px;    -moz-border-radius: 6px;    border-radius: 6px;"><img src="assets/bonus_icon.png" class="score" style="margin-right: 5px;"><span id="bonusCounterID" class="score score-num" style="position: relative; top: 0px;"></span><span class="score score-text"> {{bonusText}}</span></div></td>
                    <td id="game_time_progress" width="115px"  style="margin-top: 4px;" >
                        <div id="game_time_progress_tabl" class="timeline clock_bg" style="margin-left: 0px;">
                            <img src="assets/clock_icon.png" class="score" style="margin-left: 13px;" >
                            <span  class="score-time score-time-background">88:88</span>
                            <span id="game_time_left" data-toggle="tooltip" title="Текущее время игры игры" class="score-time">{{gameProgressInfo.time | date:'HH:mm'}}</span>
                        </div>
                    </td>
                    <td id="game_time_progress_bar" width="43%"   style="padding-right: 3px; margin-top: 8px;">
                        <div id="game_time_progress_bar_border_id" class="game_time_progress_bar_border" data-toggle="tooltip" title="Временная шкала игры">
                        <div class="timeline progress" style="margin-bottom: 0px;  height: 14px;">
                            <div class="bar bar-success" style="width: {{gameProgressInfo.progress.success}}%;"></div>
                            <div class="bar bar-warning" style="width: {{gameProgressInfo.progress.warning}}%;"></div>
                            <div class="bar bar-danger" style="width: {{gameProgressInfo.progress.alarm}}%;"></div>
                            <span id="game_time_right" data-toggle="tooltip" title="Осталось времени до окончания игры" class="muted pull-right" style="font-size:10px; line-height:12px; padding-right: 5px;"> осталось {{gameProgressInfo.timeLeft}}</span>
                        </div>
                        </div>
                    </td>
                    <td width="15%" id="statisticsButton"  ng-click="showInfoPopup('STATISTIC')"><img id="statisticsButtonImg" data-toggle="tooltip" title="Статистика игры" style="margin-left: 10px; margin-top: 3px; cursor: pointer;padding-top: 2px; padding-right: 3px;padding-left: 3px; -webkit-border-radius: 6px;    -moz-border-radius: 6px;    border-radius: 10;"  src="assets/stat_icon_text.png"></td>
                    <td width="3%" id="exitButton" style="float:right; -webkit-border-radius: 6px;    -moz-border-radius: 6px;    border-radius: 10;"  ng-click="doExit();"><button id="exitButtonId" class="close score" data-toggle="tooltip" title="Закрыть" style="padding-bottom: 4px;">&times;</button></td>

                </tr></tbody></table>
           </div>                    
        </div>    
<!--  END  TOP STATUS BAR -->    
   
<!--  GAME AREA  class="container" -->
    <div  id="game_area" ng-show="!gameInDialog">
    
        <div class="igeLoading loadingFloat">
            <div class="loadingLogo"></div>
            <div class="loadingCircle"></div>
            <div class="loadingCircleInner"></div>
            <div class="loadingText" id="loadingText">
                Загрузка...
            </div>
            <div id="loadingProgressBar" style="display:none; left: 50%; margin-left: -40px; width: 80px; background-color: #00aa00;">
                Загрузка 1...
            </div>
        </div>
        <div class="igeLoading loadingLink">
            <!--
            Powered By Isogenic Game Engine
            <a href="http://www.isogenicengine.com" target="_blank">http://www.isogenicengine.com</a>
            -->
        </div>
    
    </div>
<!--  END GAME AREA -->

<!-- GAME OVER -->
     <div id="gameOverModalDialog" class="modal_dialog ng-cloak" ng-cloak ng-show="gameOverDialogVisible">
      <div class="modal_dialog_header orange">
        <h4>Игра закончена !</h4>
      </div>
      <div class="modal_dialog_body">
        <p><span class="statistics-header black-color">У вас <span class="red-color">{{scopeCounter}}</span> баллов</span></p>
        <p><span class="statistics-header green-color">{{salesCounter}}</span>
                <span class="statistics-header"> продаж </span>
                <span class="statistics-header green-color">за {{gameProgressInfo.timeRight}}</span></p>
        <p><span class="statistics-header"> Количество неудачных продаж: </span>
                <span class="statistics-header red-color">{{failsCounter}}</span></p>
      </div>
      <div class="modal_dialog_footer">    
          <div class="next_button orange" ng-click="okGameOver();">Далее <i class="icon-play icon-white"></i></div>
      </div>
    </div>
<!-- END GAME OVER -->

<!-- BEGIN Карта -->
<div resize id="mapDialog" ng-controller="mapCtrl" class="ng-scope map-modal-dialog popup-display  ng-cloak"  ng-cloak ng-show="map.visible">
     <div class="modal_dialog_header orange">
        <h4>Выберите отдел</h4>
      </div> 
    <div style="position: relative" ng-mousemove="mouseOverMetod($event)" ng-mouseover="mouseOverMetod($event)" ng-mouseleave="mouseLeaveMetod($event)" ng-click="mouseClickMetod($event)">
        <img id="map_image_ID" class="map-image" class="map-image" ng-src="{{map.DEPARTMENT_DIGITAL_MAP}}"/>
        <img id="department_highlight_image_ID" class="map-image"  ng-src="{{map.currentDepartmentHighlightImage}}"/>        
    </div>
     
</div>
<!-- END Карта -->

<!-- BEGIN Информация -->
<div id="infoModalDialog" class="popup-display ng-cloak"  ng-cloak ng-show="infoDialogVisible">
        <div class="info-popup">
              <div class="modal_dialog_header orange">
                <h4>Информация</h4>
              </div>
              <div class="modal_dialog_body" style="padding: 40px;">
                  <p class="info-text">Обучающая игра «Технология продаж» разработана, в первую очередь, для сотрудников магазинов «М.Видео» и предназначена для того, чтобы продемонстрировать и отработать алгоритм успешной продажи и привить пользователям навыки эффективных продаж.</p><p class="info-text">В процессе игры пользователь научится общаться с различными типами клиентов, находить выход из затрудненных ситуаций, возникающих в процессе продажи, а также приобретет полезные умения и навыки, которые помогут ему в процессе дальнейшей работы в качестве продавца-консультанта.</p><p class="info-text">По окончании игры пользователь поймет, что процесс продаж – это увлекательный и интересный процесс, а продать можно практически в любой ситуации.</p>
              </div>
              <div class="modal_dialog_footer">    
                  <!--<div class="next_button orange" ng-click="infoDialogVisible = false;">Далее <i class="icon-play icon-white"></i></div>-->
                  <div class="customer_next_button"  ng-click="infoDialogVisible = false;"></div>
              </div>
        </div>
    </div>
<!-- END Информация -->

<!--  BEGIN статистика -->  
<div resize class="location ng-cloak popup-display" ng-cloak ng-show="showGameStatisticsDisplay" ng-click="showGameStatisticsDisplay=false;">      
    <div class="statistics-popup">
        
        <div style="top: 67px; right: 69px; position: absolute; width:20px; height:20px; cursor: pointer;"></div>
        
        <div style="margin-top: 115px; margin-left: 110px;">
            <span class="statistics-header black-color">У вас <span class="red-color">{{scoreCounter}}</span> {{scoreText}}</span>
        </div>
        
        <table style="margin-top: 12px; margin-left: 130px; width: 230px;"><tbody>
            
                <tr style=" line-height: 46px;"><td>
                <span class="statistics-num green-color">{{salesCounter}}</span>
                <span class="statistics-text"> {{salesText}} </span>
                <span class="statistics-num green-color" ng-show="salesCounter > 0">за {{gameProgressInfo.timeRight}}</span>
            </td></tr>
        
            <tr style=" line-height: 46px;"><td>
                <span class="statistics-text"> Количество неудачных продаж: </span>
                <span class="statistics-num red-color">{{failsCounter}}</span>
            </td></tr>

            
            <tr ><td>
                <span class="statistics-text"> У вас осталось </span>
                <span class="statistics-num red-color">{{gameProgressInfo.timeLeft}}</span><br>
                <span class="statistics-text"> до конца дня!</span>
            </td></tr>
            
        </tbody></table>
    </div>
</div>
<!--  END статистика -->   

<!--  BEGIN структура -->   
<div resize class="location ng-cloak popup-display game-area-geometry" ng-cloak ng-show="showGameStructureDisplay"  ng-click="showGameStructureDisplay=false;">      
    <div class="row-fluid phase-display" >
              <div style="width: 500px;">
                  <div ng-repeat="v_phase in phasesList" class="row-fluid">
                      
                      <div class="phase {{v_phase.style}}">
                          <div class="phase_col phase_col_top {{v_phase.style}}" ng-show="$index > 0"></div>
                        <span class="phase phase-title">{{v_phase.name}}</span><br>
                        <span class="phase phase-description">{{v_phase.description}}</span>
                        <div class="phase_col phase_col_bottom {{v_phase.style}}" ng-show="$index < (phasesList.length-1)"></div>
                      </div>
                      
                  </div>
              </div>
    </div>
</div>
<!--  END структура -->   

<!--  BEGIN диалог - покупатель / продавец  resize -->   
<div   class="location game-area-bg ng-cloak" ng-cloak ng-show="gameInDialog">

    <div id="salesmanDialogID" class="localion_dialog" ng-show="salesmanDialogVisible">
          <div class="row-fluid" >
              <div id="phasesListInDialogELEM"  style="cursor: pointer; padding-left: 5px; padding-right: 5px;" ng-click="showGameStructureDisplay = !showGameStructureDisplay;" class="span3" style="margin-top: 10px;">
                  <div ng-repeat="v_phase in phasesListInDialog">

                      <div class="span12 phase {{v_phase.style}}" >                                                                        
                          <div class="phase_col phase_col_top {{v_phase.style}}"></div><!--  ng-show="$index > 0" -->
                            <span class="phase phase-title">{{v_phase.name}}</span><br>
                            <!--<span class="phase phase-description">{{v_phase.description}}</span>-->
                          <div class="phase_col phase_col_bottom {{v_phase.style}}" ></div><!-- ng-show="$index < (phasesListInDialog.length-1)"  -->
                      </div>

                  </div>
              </div>
              <div class="span8">
                  <div ng-repeat="dialog in salesmanDialog.question" class="row-fluid">
                      <div class="span8">
                          <div class="q-selector" ng-click="okSalesmanQuestion($index);" ng-mouseover="overSalesmanQuestion($index);">
                              <table><tr>
                                  <td><div class="background_element q-selector-mark"></div></td>
                                  <td><span class="q-selector-text " ng-bind="dialog.text"></span></td>
                             </tr></table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>          
      </div>
    
    <div id="dialogPanel" style="position: absolute; overflow: hidden">

        <img id="location_background_image" class="location_background" src="{{locationBackground}}" ng-show="locationBackgroundVisible"/>   

        <img id="location_back_image" class="location_background" src="{{locationBackImage}}" ng-show="locationBackImageVisible"/> 
        
        <div id="customerAnswerModalDialogContayner" style="position: absolute; height: 100%; width: auto;">
            
            <img id="location_customer_image" class="location_customer" src="{{locationCustomerImage}}" ng-show="locationCustomerVisible"/> 
            
            <div id="customerAnswerModalDialog" class="modal_customer_dialog" ng-show="customerDialogVisible">                

                <div id="customer_arrow" class="helper_white_arrow {{customer_arrow_class}}"></div>        
                <div class="helper_border" style="min-width: 140px; width: auto;">

                    <div class="modal_customer_body" ng-bind-html="customerDialog.text">
                    </div>

                    <div class="modal_customer_footer" ng-show="customerDialogAnswerButtonVisible">
                        <div class="customer_next_button" ng-click="okCustomerAnswer();"></div>
                    </div>
                 </div>
            </div>            
        </div>
        
        <!--<div id="helperModalMask" class="modalMask"   ng-show="silvesterModalMaskVisible"> -->
        
        <img id="location_before_image" class="location_background" src="{{locationBeforeImage}}" ng-show="locationBeforeImageVisible"/> 
             
    </div>
</div>
<!--  END диалог - покупатель / продавец -->    


<!-- BEGIN bonus screen area   && imagesReady  -->
<div  class="game-area-bg ng-cloak " style="width: 100%; height: 100%;" ng-controller="videoBonusCtrl" class="ng-scope" ng-cloak ng-show="gameInBonus" >
<video  id="video" video-loader="videoNumber" width=1024 height=668 autoplay controls autobuffer style="position: fixed;  top: 30px; left: 50%; margin-left: -512px;" >    
    Ваш обозреватель не поддерживает тэг "video".<br>
    Если Вы используете Safari попробуйте обновить Safari и QuickTime.  
</video>
</div>
<!-- END bonus screen area -->


<!-- BEGIN NEW HELPER -->
<div id="helperID" class="selvester ng-cloak" style="cursor: move;" ng-cloak class="ng-scope" ng-show="silvesterDialogVisible">
    <div id="helperBody" class="helper_animation_container" style=" position: absolute;">
        <img id="helper_img_wings" class="helper_animation_element" src="{{helper_img_wings}}"/>
        <img id="helper_img_body" class="helper_animation_element" src="{{helper_img_body}}" />
    </div>
    <div id="helper_balloon_ID" class="helper_border" style=" position: absolute;">
          <div id="helper_arrow" class="helper_white_arrow {{helper_arrow_class}}"></div>
          <!--<div id="helperDialogBody" class="helper_body">{{helperDialogText}}</div>-->
          <div id="helperDialogBody" class="helper_body" ng-bind-html="helperDialogText"></div>
          
          <div class="customer_next_button"  ng-click="nextSilvesterDialog(false);" ng-show="silvesterDialogNextButtonVisible"></div>
          
          <button class="close" ng-click="closeSilvesterDialog()" ng-show="silvesterDialogCloseButtonVisible" style=" position: absolute; top: 10px; right: 15px;"  >&times;</button>
      </div>
</div>
<!-- END NEW HELPER -->


<!-- BEGIN start dialog popup -->
<div id="startDialogPopupID" class="popup-selection ng-cloak" ng-cloak ng-show="startDialogPopup">
    <div class="popup-selection-top red">
        <span class="popup-selection-title">Что сделать</span>
        <button class="close" ng-click="closePopup('START_DIALOG')" >&times;</button>
    </div>    
    <div class="popup-selection-body">
          <div class="b-selector one-point" ng-click="confimStartDialog();" >              
              <span class="b-selector-text ">Поздороваться с покупателем</span>
          </div>
    </div>
    <div class="popup-selection-bottom"></div>
</div>
<!-- END start dialog popup -->


<!-- BEGIN bonus selection area -->
<div id="bonusSelector" class="popup-selection ng-cloak" ng-cloak ng-show="selectionBonus">
    <div class="popup-selection-top green">
        <span style="margin-left:10px; margin-top: -80px; color: #FFF; font-size: 16px; font-weight: bold;">{{currentBonus.title}}</span>
        <button class="close" ng-click="closePopup('BONUS_SELECTOR')" >&times;</button>
    </div>
    <div class="popup-selection-body">
        <div ng-repeat="action in currentBonus.actions" >      
              <div class="b-selector" ng-click="startBonusDialog($index);" >
                  <table><tr>
                      <td><div class="background_element b-selector-mark"></div></td>
                      <td><span class="b-selector-text " ng-bind="action.name"></span></td>
                 </tr></table>
              </div>

        </div>
    </div>
    <div class="popup-selection-bottom"></div>
</div>
<!-- END bonus selection area -->


<div id="soundLevelSlider" class="sound-level-slider">
        <div class="sound-level-slider-top" ng-click="soundVolumeChange($event, 'top');"></div>
        <div class="sound-level-slider-bottom" ng-click="soundVolumeChange($event, 'bottom');"></div>
</div>

<!--  BOTTOM STATUS BAR -->            
        <div class="navbar-footer game-bar-geometry" style="z-index: 1100; bottom: 0px;" ></div>          
           <div class="bottom-tray-nav-bar game-bar-geometry" style="z-index: 1101;">
                    <table style="width: 100%;">
                        <tbody>
                            <tr>                                
                                <td><img id="MVideo_logo" data-toggle="tooltip" title="М.видео" style="cursor: pointer;" src="assets/mvideo_logo_small.png" width="118" height="52" alt="М.видео"/></td>
                                <td><span style="margin-top: 10px;" class="brand " href="#">Мы научим вас продавать в любых обстоятельствах! {{version}}</span></td>                                
                                <td id="structure_btn_td"><img id="structure_btn" ng-click="showInfoPopup('STRUCTURE')" data-toggle="tooltip" title="Структура диалога с покупателем" style="margin-top: 5px; cursor: pointer; padding-left: 6px; padding-right: 6px; padding-top: 7px; padding-bottom: 4px;" src="assets/structure_icon.png" width="28" height="28" alt="Структура"/></td>
                                <td id="sound_btn_td">
                                    <img id="sound_btn" ng-click="soundVolumeSlider($event);" data-toggle="tooltip" title="Регулировка громкости звука"  style="margin-top: 5px; cursor: pointer; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 8px;" ng-src="{{soundVolumeIndicator}}" width="27" height="21" alt="Громкость звука"/>
                                </td>
                                <td id="helper_btn_td"><img id="helper_btn" ng-click="invokeSilvester()" data-toggle="tooltip" title="Вызов помощника" style="cursor: pointer;" src="assets/helper_small_text_icon.png" width="151" height="50" alt="Помошник"/></td>
                                <td id="info_btn_td"><img id="info_btn" ng-click="showInfoPopup('INFO')" data-toggle="tooltip" title="Информация" style="margin-top: 5px; cursor: pointer; padding-top: 7px; padding-left: 10px; padding-right: 10px; padding-bottom: 6px;" src="assets/info_text_icon.png" width="118" height="26" alt="Информация"/></td>
                            </tr>
                        </tbody>
                    </table>
                                                
                </div>                
<!--  END BOTTOM STATUS BAR --> 

<!-- LOGGER
    ng-bind-html="logText" 
-->
<!--
<div id="logger"  style="overflow: scroll; position:absolute; z-index: 2100;  bottom:300px; width:100%; height:240px; background-color: #ffaaff; color: #000000;">
    LOGGER STARTED...<br>
</div>
-->

<!-- END LOGGER -->

<!-- BACKGROUND AUDIO -->
<div ng-controller="audioCtrl" class="ng-scope" ng-cloak >
<audio  id="audio_bg" audio-rotator="track" width=0 height=0 autoplay autobuffer   >    
    Ваш обозреватель не поддерживает тэг "audio"
</audio>
</div>
<!-- END BACKGROUND AUDIO -->

<!-- *************************** -->
<!--
<div id="boardFrame" style="position:absolute;left:0px;top:0px;width:800;height:600">
</div>
<div style="position:absolute; width:100px;height:100px;top:-110px;left:-110px;">
<object  classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100" height="100" id="agentFSCHub">
<param name="Movie" value="js/libs/courselab/agenthub.swf"/>
<param name="WMode" value="transparent"/>
<param name="BGColor" value="#FF9900"/>
<param name="FlashVars" value="objID=agentFSCHub" />
<param name="SWLiveConnect" value="1"/>
<param name="Play" value="-1"/>
<param name="AllowScriptAccess" value="always"/>
<embed src="js/libs/courselab/agenthub.swf" width="100" height="100" name="agentFSCHub" id="agentFSCHub" FlashVars="objID=agentFSCHub" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</object>
</div>
-->
<!-- ********************** -->


  <script src="js/libs/jquery/jquery-1.9.1.js"></script>  
  <script src="js/libs/jquery/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="js/libs/bootstrap/bootstrap.min.js"></script>

  <script src="js/libs/angular/angular.js"></script>
  <script src="js/libs/angular-ui/angular-ui.js"></script>
  <script src="js/libs/angular-ui/angular-ui-ieshiv.min.js"></script>
  <script src="js/libs/angular/angular-sanitize.js"></script>
  
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/ngStorage.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
    <!-- courselab -->
<!--
    <script type="text/javascript" src="js/libs/courselab/courselab.js"></script>
<script type="text/javascript" src="js/libs/courselab/courseimages/lms.js"></script>
<script type="text/javascript" src="js/libs/courselab/courseimages/legacy.js"></script>

<script type="text/javascript" src="js/libs/courselab/courseimages/legacy.js"></script>
-->
  
  <!-- дополнительные фичи -->
  <script src="js/main.js"></script>
  
  <!-- данные помощника -->
  <script src="gameData/silvester.js"></script>
  
  <!-- локация ноутбуки ДЕМО -->
  <script src="gameData/location_notebook_demo.js"></script>
  <!-- локация смартфоны ДЕМО-->
  <script src="gameData/location_smartphone_demo.js"></script>
  
  <script src="gameData/bonuses.js"></script>
  
  <!-- структура технологии продаж -->
  <script src="gameData/phases.js"></script>
    
</body>
</html>

-->